In [1]:
import pandas as pd

In [3]:
raw_file = pd.read_csv('../data/2019-Oct.csv')
raw_file.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [4]:
raw_file=raw_file.drop(columns=['category_id', 'brand', 'category_code', 'price'])

In [6]:
raw_file = raw_file[raw_file['event_type']=='purchase']

In [8]:
raw_file.shape

(742849, 5)

In [27]:
raw_file['user_session'].unique()

array(['8187d148-3c41-46d4-b0c0-9c08cd9dc564',
       '3c80f0d6-e9ec-4181-8c5c-837a30be2d68',
       '0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56', ...,
       'f35ac37c-9573-4e30-b3d9-c09bb0b95a2b',
       '3a5a3b01-2ab1-4a1d-a202-30d336e0057b',
       'e330d051-37ad-4dc3-b1ee-ff16a28b7998'], dtype=object)

In [29]:
d = {}
for v in raw_file['user_session'].unique():
    df = raw_file[raw_file['user_session'] == v]
    purchases = df['product_id'].tolist()
    d[v] = purchases

d

KeyboardInterrupt: